@font-face {
  font-family: "Karla";
  src: url("/src/fonts/Karla-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Karla";
  src: url("/src/fonts/Karla-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 700;

  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Karla";
  src: url("/src/fonts/static/Karla-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Karla";
  src: url("/src/fonts/static/Karla-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
// @media (min-width: 321px)
html {
  font-family: "Karla";
  background-color: rgb(175, 212, 212);
  padding-right: 2%;
  padding-left: 2%;
  padding-top: 5%;
  padding-bottom: 5%;
  body {
    background-color: white;
    border-radius: 15px;
    #root {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 5%;
      height: 220vw;

      //Styling

      header {
        width: 90%;
        height: 5%;
        h1.title {
          margin: 0%;
        }
      }
      main {
        width: 90%;
        height: 80%;

        form {
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;

          > * {
            width: 97%;
          }

          //The 3 first inputs
          label.label-user-infomation {
          }
          input.user-information {
            width: 100%;
            box-sizing: border-box;
            border-width: 1px;
            min-height: 2.5rem;
            padding: 5%;
            margin-bottom: 5%;
            border-radius: 10px;
          }

          //The 2 radio inputs
          label.query-type-option {
            box-sizing: border-box;
            border: 1px solid rgb(112, 112, 112);
            padding: 3%;
            margin-bottom: 4%;
            border-radius: 10px;
            width: 100%;
          }

          //The text area message area
          label.label-message {
          }
          textarea.large-message {
            background-color: aqua;
          }

          //The confirmation checkbox
          label.label-confirmation-button {
            display: flex;
            align-items: center;
            gap: 4%;
          }
          input.confirmation-button {
            display: flex;
            flex-wrap: wrap; /* allows text to wrap */
            margin-top: 10%;
            margin-bottom: 10%;
          }

          //The submit button
          #submit-button {
            height: 8%;
            border-style: none;
            background-color: rgb(28, 109, 87);
            color: white;
            font-weight: 600;
            border-radius: 10px;
          }
        }
      }
    }
  }
}

@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
